<h1><center>Web Scrapping Project</center></h1>
<h2><center>Stocks Data</center></h2>

### Collecting Data from the following <a href="https://eoddata.com" > eoddata</a>.
- Scrapping the data
- Adding it to a pandas dataframe

In [2]:
# Importing all neede libs
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import matplotlib.pyplot as plt

In [1]:
# Creating the url list to loop through the stock on the website form letter A to letter Z
urls=[f'https://eoddata.com/stocklist/TSX/{chr(i)}.htm' for i in range(65,91)]
print(*urls[:10],sep='\n')

https://eoddata.com/stocklist/TSX/A.htm
https://eoddata.com/stocklist/TSX/B.htm
https://eoddata.com/stocklist/TSX/C.htm
https://eoddata.com/stocklist/TSX/D.htm
https://eoddata.com/stocklist/TSX/E.htm
https://eoddata.com/stocklist/TSX/F.htm
https://eoddata.com/stocklist/TSX/G.htm
https://eoddata.com/stocklist/TSX/H.htm
https://eoddata.com/stocklist/TSX/I.htm
https://eoddata.com/stocklist/TSX/J.htm

In [3]:
#Creating a headers for the get request to avoid getting banned by the server 
headers={
    'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'
}

In [8]:
# Creating empty list to use to fill data in
data_cache=[]

In [9]:
# Looping through the Urls and Scrapping the data with BeautifulSoup 
# Scrapping the data is based on the html structure of the website
for url in urls:
    page=requests.get(url,headers=headers)                                      #reading the page
    soup=BeautifulSoup(page.text,'lxml')                                        #parsing html with bs4
    table=soup.find('div',attrs={'id':'ctl00_cph1_divSymbols'})                 #getting the stocks table

    for row in table.findAll('tr',class_=lambda x: x in ['ro','re']):           #Iterating through the rows and storing the data
        elements=list(map(lambda x: x.text, row.findAll('td')[:6]))
        data_cache.append(elements)
    time.sleep(1)

In [10]:
# Checking the Data shape
data_cache[:5]

[['AAB', 'Aberdeen International Inc', '0.0200', '0.0200', '0.0200', '1,000'],
 ['AAUC', 'Allied Gold Corporation', '3.320', '3.150', '3.320', '563,686'],
 ['AAUC.DB.U',
  'Allied Gold Corporation 8.75%',
  '99.90',
  '99.90',
  '99.90',
  '1,000'],
 ['AAV', 'Advantage Oil & Gas Ltd', '10.100', '9.840', '9.870', '246,587'],
 ['ABX', 'Barrick Gold Corp', '21.63', '21.21', '21.29', '2,912,101']]

In [11]:
#Creation of the data frame using pandas
columns=['Code',    'Name',    'High',    'Low',    'Close',    'Volume']
DATA=pd.DataFrame(data_cache,columns=columns)
DATA.head()

        Code                           Name    High     Low   Close     Volume
0        AAB     Aberdeen International Inc  0.0200  0.0200  0.0200      1,000
1       AAUC        Allied Gold Corporation   3.320   3.150   3.320    563,686
2  AAUC.DB.U  Allied Gold Corporation 8.75%   99.90   99.90   99.90      1,000
3        AAV        Advantage Oil & Gas Ltd  10.100   9.840   9.870    246,587
4        ABX              Barrick Gold Corp   21.63   21.21   21.29  2,912,101

In [13]:
DATA.sort_values(by='Close',ascending=False)

,Code,Name,High,Low,Close,Volume
2,AAUC.DB.U,Allied Gold Corporation 8.75%,99.90,99.90,99.90,"1,000"
1512,ONEX,Onex Corp,100.64,99.08,99.87,"47,645"
27,AFN.DB.F,Ag Growth Intl Inc 5.4 Pct Debs,99.60,99.60,99.60,"17,000"
410,CJT.DB.E,Cargojet Inc 5.75 Pct Debs,99.75,99.52,99.52,"14,000"
378,CHE.DB.H,Chemtrade Logistics Incme Fd 7 Pct Debs,99.65,99.50,99.50,"37,000"
...,...,...,...,...,...,...
1517,OREA,Orea Mining Corp,0.0150,0.0100,0.0150,"300,237"
983,GMTN,Gold Mountain Mining Corp,0.0200,0.0100,0.0100,"2,505,483"
1883,STCK.WT,Stack Capital Group Inc WT,0.0050,0.0050,0.0050,"1,000"
8,ACB.WS.U,Aurora Cannabis Inc Ws USD,0.0050,0.0050,0.0050,"5,000"
1828,SFC.WT,Sagicor Financial Company Ltd WT,0.0050,0.0050,0.0050,"2,000"

### That concluded the end
Data is available for any kind of analysis needed.